<footer>
    <p>&copy; 2024 Ontario Tech Gym | All Rights Reserved</p>
    <p>"Our mission is to inspire and empower individuals to lead healthier, stronger lives through personalized fitness experiences, expert guidance, and a supportive community, fostering growth, well-being, and confidence in every member."</p>
    <p>
        <a href="/about" style="color: #3498db; text-decoration: none;">About Us</a> |
        <a href="/contactUs" style="color: #3498db; text-decoration: none;">Contact Us</a>
    </p>
</footer>
