<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><h1>Welcome to Ontario Tech Gym</h1></a>
        <nav>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/class">Class</a></li>
                <li><a href="/membership">Membership</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <h1><a href="/Login">Login</a></h1>
        </nav>
    </header>
    </html><h1>About page</h1>
</body>
