<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Management</title>
    <link rel="stylesheet" href="/styles.css"> 

</head>
<body>
    
    <%- include('partials/header') %>
    <% if (success) { %>
    <section id="about">
       
            <h1>Thank you so much!</h1>
     
    </section>
    <% } %>

    <section id="services">
        <h2>Services</h2>
        <div class="service">
            <h3>Personal Training</h3>
            <p>Our certified trainers are here to guide you every step of the way.</p>
        </div>
        <div class="service">
            <h3>Group Classes</h3>
            <p>Join our group fitness classes, including yoga, spinning, and more.</p>
        </div>
        <div class="service">
            <h3>Nutrition Plans</h3>
            <p>Custom nutrition plans designed to complement your workouts.</p>
        </div>
    </section>

    <section id="membership">
        <h2>Membership Plans</h2>
        <div class="membership-plan">
            <h3>Basic Plan</h3>
            <p>Access to gym equipment and group classes for $30/month.</p>
        </div>
        <div class="membership-plan">
            <h3>Premium Plan</h3>
            <p>Includes personal training sessions and nutrition plans for $50/month.</p>
        </div>
    </section>

    

   


</body>
</html>
