<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id = 'title'>This is my signup page</h1>
    <form action="/signup" method="post">
        <label for="email"> Usernane :</label>
            <input type="text" id="email" name="username" value="">
        
        <label for="pass"> password: </label>
            <input type="password" name="password" >
       
        <button type="submit" >Submit</button>
    </form>
</body>
</html>
